.left-content {
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    margin-top: 6rem;
}




.left-content > .profile-pic img {
	height: 150px;
	width: 150px;
	filter: brightness(0.8);
	
}