:root {
    --main1-text-color: #cea135;
    --main2-text-color: #e6e7e9;
    --main-accent-color: hsla(238, 89%, 14%, 0.8);
    --main2-accent-color: hsla(238, 43%, 12%, 0.8);
}

html, body {
    height: 100%;
    background-image: linear-gradient(var(--main-accent-color), var(--main2-text-color), var(--main1-text-color));
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin: 0 0 0 0;
	position: relative;
	font-family:  'Didact Gothic', sans-serif, "Helvetica Neue";
	font-size: 20px;
    font-weight: normal;
}
.container {
    display: grid;
    min-height: 100%;
}
/*--------------------------BEGINS NAV CSS--------------------------*/
.nav {
    position: relative;
    display: flex;
	justify-content: space-evenly;
    align-items: center;
    background-color: var(--main2-accent-color); 
}
.links-wrapper a {
    text-decoration: none;
    color: var(--main2-text-color);
	transition: 0.5s;
}
.links-wrapper a:hover {
    color: var(--main1-text-color);
    letter-spacing: 1px;
}

.nav-link {
	margin-top: 1.5rem;
	width: 120px;
}

/*--------------------------ENDS NAV CSS--------------------------*/

/*--------------------------BEGINS MAIN CONTENT CSS--------------------------*/
.main {
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.main img {
    height: 8rem;
    width: 8rem;
}
.main p {
    display: flex;
    justify-content: center;
}

/*--------------------------BEGINS MAIN CONTENT CSS--------------------------*/


/*--------------------------BEGINS FOOTER CSS--------------------------*/
.footer{
    background-color: var(--main2-accent-color);
    display: flex;
    justify-content: center;
    bottom: 0;
    width: 100%;
    filter: opacity(0.9);
}

.social-media-icons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.social-media-icons a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.social-media-icons a:hover {
    color: var(--main1-text-color);
    letter-spacing: 1px;
    font-size: 1.5em;
}
.social-media-icons i {
    width: 20px;
}
.copyright {
    text-decoration: none;
    font-size: 0.7em;
    color: #858585;
    display: flex;
    align-items: flex-end;
}
.copyright p{
    margin-bottom: 15px;
}
/*--------------------------End FOOTER CSS--------------------------*/


/*Desktop CSS*/
@media only screen and (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-rows: .5fr 1.5fr .25fr .25fr;
        grid-template-columns: 1fr 2fr 2fr ;
    }
    .nav {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
	}
    .main {
        grid-row: 2 / 3;
        grid-column: 1 / 4;
    }

	.social-media-icons {
        grid-row: 3 / 4;
        grid-column: 1 / -1;
    }
    .copyright {
        grid-row: 4 / 5;
        grid-column: 1 / -1;
    }
}

/*phone CSS*/
@media only screen and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
    .nav {
		order: 2;
		display: flex;
		flex-direction: column;

	}
    .main {
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .social-media-icons {
        padding-top: 2px;
    }
    .footer{
        order: 3;
    }
    
}


@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
    .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
    .nav {
		order: 2;
		display: flex;
		flex-direction: column;

	}
    .main {
        flex-direction: column;
        align-items: center;
        order: 1;
    }
    .social-media-icons {
        padding-top: 2px;
    }
    .footer{
        order: 3;
    }
    
}