:root {
    --main1-text-color: #cea135;
    --main2-text-color: #f0f8ff;
    --main-accent-color: #11122b;
}
html, body {
    height: 100%;
    background-image: url(../Images/background5.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
    background-attachment: fixed;
	margin: 0 0 0 0;
	position: relative;
	font-family:  'Didact Gothic', sans-serif, "Helvetica Neue";
	font-size: 20px;
    font-weight: normal;
}

.container {
    display: grid;
    min-height: 100%;
    background-color: hsla(0, 0%, 65%, 0.4);
}
/*--------------------------BEGINS NAV CSS--------------------------*/
.profile-pic img {
	height: 150px;
	width: 150px;
    filter: brightness(1.0);
    margin-top: 6rem;
}
.links-wrapper a {
    text-decoration: none;
    color: var(--main2-text-color);
    transition: 0.5s;
}
.links-wrapper a:hover {
    color: var(--main1-text-color);
    letter-spacing: 1px;
}

.nav-link {
    margin-top: 1.5rem;
}
.nav {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    background-color: hsla(238, 43%, 12%, 0.8);
    
}
.social-media-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.social-media-icons a {
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.social-media-icons a:hover {
    color: var(--main1-text-color);
    letter-spacing: 1px;
    font-size: 1.5em;
}
.social-media-icons i {
    width: 20px;
}
/*--------------------------ENDS NAV CSS--------------------------*/

/*--------------------------BEGINS MAIN CSS--------------------------*/
.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.article > .myName {
    font-size: 4em;
    font-family:  'Didact Gothic', sans-serif, "Helvetica Neue";
    color: var(--main1-text-color);
    text-shadow: 4px 3px hsla(238, 43%, 12%, .7);
    margin: 0;
}
.main hr {
    size: 20px;
    background-color: var(--main-accent-color);
    width: 65%;
}
.article > .myTitle {
    font-size: 1.25em;
    font-family:  'Didact Gothic', sans-serif, "Helvetica Neue";
    color: var(--main1-text-color);
    text-shadow: 2px 2px hsla(238, 43%, 12%, .7);
    margin: 0;
}


/*--------------------------ENDS MAIN CSS--------------------------*/

/*--------------------------BEGINS FOOTER CSS--------------------------*/
.copyright {
    text-decoration: none;
    font-size: 0.7em;
    color: #858585;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.copyright p{
    margin-bottom: 15px;
}

/*Desktop CSS*/
@media only screen and (min-width: 1025px) {
    .container {
        display: grid;
        grid-template-rows: 10% 1.5fr .25fr .25fr;
        grid-template-columns: 1fr 2fr 2fr ;
    }
    .profile-pic {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .links-wrapper {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .social-media-icons {
        grid-row: 3 / 5;
        grid-column: 1 / 2;
    }
    .copyright {
        grid-row: 4 / 5;
        grid-column: 2 / 4;
    }
    .main {
        grid-row: 2 / 3;
        grid-column: 2 / 4;
    }
    
}

/*phone CSS*/
@media only screen and (max-width: 767px) {
    .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
    .profile-pic {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .links-wrapper {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .main {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .social-media-icons {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .copyright {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    .main {
        display: none;
    }
    .article p {
        font-size: 1em;
    }
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
    .container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 1fr;
    }
    .profile-pic {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
    .links-wrapper {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
    }
    .main {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
    }
    .social-media-icons {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
    }
    .copyright {
        grid-row: 5 / 6;
        grid-column: 1 / 2;
    }
    .main {
        display: none;
    }
    .article p {
        font-size: 1em;
    }
    
}